/Ex01PositiveOrNegative.class
/Ex02QuadraticEquations.class
/Ex03MaxOfThreeNumbers.class
/Ex04ChectFloatPoint.class
/Ex05Weekday.class
/Ex06TestTwoFloatingPoint.class
/Ex07DaysInMonth.class
/Ex08LetterCheck.class
/Ex09LeapYearCheck.class
/Ex10NaturalNumber.class
/Ex11SumOfnNaturalNumber.class
/Ex13CubeOfn.class
/Ex14MultiplicationTable.class
/Ex15SumOfOddNumber.class
/Ex16IncrementLineTriangle.class
/Ex17IncrementTriangle.class
/Ex18IncrementBy1Tryangle.class
/Ex27SignCheck.class
/Ex29CountNumberOfDigits.class
/Ex30AreEquals.class
/Ex31IncreasingOrDecreasing.class
